compiler:
  solc:
    version: 0.8.24
    optimizer:
      enabled: true
      runs: 200
    remappings:
      - "@openzeppelin/contracts=OpenZeppelin/openzeppelin-contracts@4.6.0/contracts"
      - "@openzeppelin/contracts-upgradeable=OpenZeppelin/openzeppelin-contracts-upgradeable@4.6.0/contracts"
      - "@contracts=contracts"
      # - "@deployments=contracts/global/arbitrum"
      - "@deployments=contracts/global/mainnet"
      - "@interfaces=interfaces"
networks:
  default: development

networks:
  default: mainnet-fork
  mainnet-fork:
    cmd_settings:
      fork_block: 17196399
  arbitrum-fork:
    cmd_settings:
      fork_block: 142354748
  
dependencies:
  - OpenZeppelin/openzeppelin-contracts@4.6.0
  - OpenZeppelin/openzeppelin-contracts-upgradeable@4.6.0
